#user {
    border: 3px solid black;
    width: 100%;
    background-color: rgb(171, 166, 166);
    border-radius: 8px;
}

th,
td {
    border: 3px solid black;
    text-align: center;
    padding: 8px;
    background-color: white;
    color: black;
}

th {
    background-color: rgb(123, 193, 234);
    color: white;
}

#inputBox {
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 400px;
    padding: 10px;
    width: 30%;
    background-color: rgb(171, 166, 166);
    border-radius: 7px;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    width: 95%;
}

.btn {
    display: flex;
    justify-content: center;
    color: black;

}

.btn button:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
}

h1{
    text-align:  center;
    color:white;
    background-color: rgb(95, 95, 218);
}

* {
    box-sizing: border-box;
  }
  
  #myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 20%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }

  p{
    text-align:  center;
  }

  